/*
 * INCLUDE MAIN DBWEBB THEME
 */
@import "dbwebb-se_v2.less";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// BACKGROUNDS
@mainBgStart: #50545b;
@mainBgEnd: #6f737a;

// BUTTON
@navBtnHover: #2194E0;


body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    //background: @mainBgStart; /* Old browsers */
}

.wrap-all {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-column-wrapper {
    display: inline-flex;
}

.outer-wrap-flash,
.site-logo {
    display: none;
}

.region-header-col-2 {
    display: flex;
    justify-content: center;
}

.inner-wrap-header {
    // Old browsers
    background: @mainBgStart;
    // FF3.6-15
    background: -moz-linear-gradient(top, @mainBgStart 0%, @mainBgEnd 100%);
    // Chrome10-25,Safari5.1-6
    background: -webkit-linear-gradient(top, @mainBgStart 0%,@mainBgEnd 100%);
    // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    background: linear-gradient(to bottom, @mainBgStart 0%, @mainBgEnd 100%);
    // IE6-9
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@mainBgStart', endColorstr='@mainBgEnd',GradientType=0 );

    box-shadow: 0 0 10px 6px rgba(1,220,255,.2);
    border-bottom: 1px solid #2194E0;
}

.outer-wrap-footer {
    // Old browsers
    background: @mainBgStart;
    // FF3.6-15
    background: -moz-linear-gradient(top, @mainBgEnd 0%, @mainBgStart 100%);
    // Chrome10-25,Safari5.1-6
    background: -webkit-linear-gradient(top, @mainBgEnd 0%,@mainBgStart 100%);
    // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    background: linear-gradient(to bottom, @mainBgEnd 0%, @mainBgStart 100%);
    // IE6-9
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@mainBgEnd', endColorstr='@mainBgStart',GradientType=0 );

    box-shadow: 0 0 10px 6px rgba(1,220,255,.2);
    border-top: 1px solid #2194E0;
}

.outer-wrap-header {
    height: @magicNumber * 3;
}

h1 {
    display: table;
}

.my-navbar li {
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    float: left;

    a {
        text-decoration: none !important;
    }
}
    .my-navbar li:hover {
        color: @navBtnHover;
        text-shadow:0px 0px 6px @navBtnHover;
    }

    .my-navbar li:last-child {
        border-right: 1px solid rgba(255,255,255,0.1) !important;
    }

    .my-navbar li:first-child {
        border-left: 1px solid rgba(255,255,255,0.1) !important;
    }

.rm-desktop li ul {
    background: #52565C;
    text-shadow: none;
    outline: none;
}
    .rm-desktop li ul li:hover {
        background: #52565C;
        text-decoration: none;
        outline: none;
    }

.my-navbar {
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #a0a0a0;
    font-size: 0.7em;
    line-height: 24px;
}

.site-logo-text-icon {
    display: none;
}

.form-wrapper form input {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #e6e6e;
    border-bottom-width: 3px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    text-indent: 10px;
}

.button {
    width: 200px !important;
    height: 40px !important;
    line-height: 0px !important;
    margin-bottom: 10px;
    background: linear-gradient(to bottom,#50545b 0,#6f737a 100%);
    border-radius: 0px !important;
    text-shadow: 0px 1px 1px #a0a0a0;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .3);
}

    .button:hover {
        background-color: rgba(255, 255, 255, 0.9);
        cursor:pointer;
        color: @navBtnHover;
        text-shadow:0px 0px 6px @navBtnHover;
    }


.save {
    //background: #6d83b8 !important;
    //border-color: #4b6bb7 !important;
    //color: white;
}
